* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

}

html,
#root,
.App {
  width: 100%;
  background-color: #eee;

}

i {
  font-size: 1.2rem;
}

.flex-pattern {
  display: flex;
  flex-flow: row;
  align-items: center;
}