* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

}

html,
#root,
.App {
  width: 100%;
  background-color: #eee;

}

.fa-star {
  font-size: 3rem;
  color: #ffd90055;

}

.fa-star:hover {
  color: #ffd900;
  transition: 0.1s;
  transform: scale(1.1, 1.1);

}

i {
  font-size: 1.2rem;
}